<!DOCTYPE HTML>
<html>
  <head>
    <title>Angular Reload</title>
    <script src="../../src/js/angular-v1.5.0-rc2/angular.js" type="text/javascript"></script>
    <script src="../../src/js/angular-v1.5.0-rc2/angular-route.js" type="text/javascript"></script>
    <script src="../../src/js/angular-v1.5.0-rc2/angular-resource.js" type="text/javascript"></script>
  </head>
  <!-- ng-app , is used for load custom module (implement angular code) -->
  <!-- ng-app needed if will use ng-controller -->
  <body >
    <div ng-app="bycycle_module">
      <div ng-controller="bycycle_controller">
        <div>{{ bycycles.message }}</div>
        <div>Name : {{ bycycles.bycycles.name }} &nbsp; Series : {{ bycycles.bycycles.series }}</div>
        <table>
        <thead>
          <tr>
            <th width="50px">ID</th>
            <th width="150px">Name</th>
            <th width="150px">Series</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
          <tr ng-repeat="bycycle in bycycles.bycycles">
            <td>{{ bycycle.id }}</td>
            <td>{{ bycycle.name }}</td>
            <td>{{ bycycle.series }}</td>
          </tr>
        </tbody>
      </div>
      </table>
    </div>
    <script src="../controllers/module_crudapi.js"></script>
  </body>
</html>