<!DOCTYPE HTML>
<html>
  <head>
    <title>Angular Reload</title>
    <script src="../../src/js/angular_1.4.8.min.js" type="text/javascript"></script>
  </head>
  <!-- ng-app , is used for load custom module (implement angular code) -->
  <!-- ng-app needed if will use ng-controller -->
  <body ng-app="module_app">
    <!-- ng-init & data-ng-init , is used for initialize default value to specific model (different is data-ng-init will make html valid) -->
    <section data-ng-init="name='M Dwikunto'">
      <p>Name : <input type="text" ng-model="name" /></p>
      <p>Name from ng-bind : <span ng-bind="name"></span></p>
      <!-- http://stackoverflow.com/questions/16125872/angularjs-why-ng-bind-is-better-than-in-angular -->
      <p>Name from {{}} : {{ name }}</p>
    </section>
    <hr />
    <section  ng-controller="ctrl_user" data-ng-init="quantity=8; price=21">
      <h3>implement controller & will change expense background color if name give color name</h3>
      <p>Name : <input type="text" ng-model="full_name" /></p>
      <p>Age : <input type="text" ng-model="age" /></p>
      <p>Name : {{ full_name }}</p>
      <p>Age : {{ age }}</p>
      <p style="background-color: {{ full_name }}">Total Expense : $<span ng-bind="quantity * price"></span></p>
    </section>
    <hr />
    <section ng-controller="ctrl_scores">
      <h3>Basket ball scores</h3>
      <!-- get score manually by index -->
      <p>Match 1 : <span ng-bind="scores[0]"></span></p>
      <!-- ng-repeat, use for looping array -->
      <div ng-repeat="score in scores track by $index">
        <p>Match <span ng-bind="$index + 2"></span> : <span ng-bind="scores[$index + 1]"></span></p>
      </div>
    </section>
    <hr />
    <section ng-controller="process_evl">
      <button ng-click="to_gladius()">Gladius</button>
      <button ng-click="to_golem()">Golem</button>
      <p>The {{ name }}</p>
    </section>
    <hr />
    <section ng-controller="process_bind">
      <input ng-model="base" type="text" />
      <button ng-click="combine_with(base)">Your Wish</button>
      <button ng-click="combine_with('pika')">Electric</button>
      <p>Mons is {{ name }}</p>
    </section>
    <hr />
    <style>
      section.set-border section {
        padding: 5px;
        border: solid 1px grey;
      }
    </style>
    <section class="set-border">
      <section ng-controller="parent_controller" >
        <p>Now is {{ time_of_day }} with temperature {{ temperature }}</p>
        <section ng-controller="child_controller" >
          <p>Now is {{ time_of_day }} with temperature {{ temperature }}</p>
          <section ng-controller="grandchild_controller" >
            <p>Now is {{ time_of_day }} with temperature {{ temperature }}</p>
          </section>
        </section>
      </section>
    </section>
    <hr />
    <section ng-controller="json_array">
      <ul>
        <li ng-repeat="user in users | orderBy: 'first' ">
          {{ user.first + " " + user.last }}
        </li>
      </ul>
    </section>
    <hr />
    <h3>Filter</h3>
    <p ng-init="money='13000000' ">Money : {{money | currency}}</p>
    <p ng-init="arrnames=['jono', 'jini', 'daek', 'yuu', 'kelq'] ">
      Filter :
      <input type="text" ng-model="findname" /> <br />
      <span ng-repeat="arrname in arrnames | filter : findname">{{ arrname }} &nbsp;</span>
    </p>
    <hr />
    <h3>Custom Directives</h3>
    <!--
        element 'restrict' , this will give rule for implement of directive
        Directive can call in multiple way :
        case 1 :
          if name directive = "mDwikuntobayu"
          in view = <m-dwikuntobayu /> or <m:dwikuntobayu /> or <p mDwikuntobayu></p>
        case 2 :
          if name directive = "mdwikuntobayu"
          in view = <mdwikuntobayu /> or <p mdwikuntobayu></p>
        -->
    <section helloearth></section>
    <section ng-controller="human">
      <div mdwikuntobayu></div>
    </section>
    <p changecolor></p>
    <hr />
    <section ng-controller="control_ext" >
      <div loadexternal></div>
    </section>
    <hr />
    <section ng-controller="control_ext" >
      <div loadynamic type="title"></div>
      <div loadynamic type="content"></div>
    </section>
    <hr />
    <section ng-controller="multi_controll_one">
      <loadmulticontrol></loadmulticontrol>
    </section>
    <section ng-controller="multi_controll_two">
      <loadmulticontrol></loadmulticontrol>
    </section>
    <hr />
    <section ng-controller="multi_scope">
      <separatescope info="customer"></separatescope>
      <br />
      <separatescope info="distributor"></separatescope>
    </section>
    <hr />
    <!-- custom js is put in under to make sure all component is loaded -->
    <script src="../controllers/module_app.js"></script>
  </body>
</html>